### Data Loading and Preprocessing

In [439]:
import pandas as pd
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
X_train = train[train!='?'].dropna().drop('target', axis = 1)
# X_test = test[test!='?'].dropna().drop('target', axis = 1)
Y_train = train[train!='?'].dropna()['target']
# Y_test = test['target']

In [440]:
print(train.shape, test.shape, X_train.shape, Y_train.shape)

(30557, 82) (16136, 77) (3915, 81) (3915,)

### Check the datatype of each features

In [441]:
# Get the data types of each column
data_types = train.dtypes

# # Print the data types of each column
# for column, dtype in data_types.items():
#     print(f"'{column}' has data type: {dtype}")
#     print(dtype)

# Show the distinct types of the features
print(data_types.unique())

[dtype('O') dtype('float64') dtype('int64')]

from nicholas's ipynb we know the first 3 object types exist no nan values, thus we can do the inputations for the remaining int64/ float64 features.

### Other Imputation methods

#### data imputation by mean/ mode/ median

In [442]:
# function to check if all na is replaced
def check_isna(df):
    return df.isnull().any(axis=1).sum()
    # df.isna().any(axis=1).sum()
print(check_isna(train))

26642

In [443]:
X_mean_train = train.copy()
Y_mean_train = test.copy()
X_mode_train = train.copy()
Y_mode_train = test.copy()
X_median_train = train.copy()
Y_median_train = test.copy()

In [444]:
def statistical_imputation(df, impute_func):
    # print(check_isna(df))
     # Iterate over each column
    for column in df.columns:
        # Check if the column has missing values
        if df[column].isnull().any():
            # Apply the imputation function
            impute_value = impute_func(df[column])
            df[column].fillna(impute_value, inplace=True)
    # print(check_isna(df))
    return df

In [445]:
# Perform mean imputation for each feature column
# print(X_mean_train.isnull().any(axis=1).sum()) #originally is 26642
X_mean_train = statistical_imputation(X_mean_train, lambda x: x.mean())
X_mode_train = statistical_imputation(X_mode_train, lambda x: x.mode().iloc[0])
X_median_train = statistical_imputation(X_median_train, lambda x: x.median)
print()

C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(impute_value, inplace=True)

C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.000074
1        0.000076
2        0.000067
3        0.000083
4        0.000070
           ...
30552    0.000063
30553    0.000072
30554    0.000068
30555    0.000086
30556    0.000079
Name: L3_NO2_NO2_column_number_density, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.000156
1        0.000197
2        0.000170
3        0.000175
4        0.000142
           ...
30552    0.000165
30553    0.000161
30554    0.000135
30555    0.000148
30556    0.000188
Name: L3_NO2_NO2_slant_column_number_density, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0       -1.231330
1       -1.082553
2       -1.001242
3       -0.777019
4        0.366323
           ...
30552   -1.412609
30553   -1.449760
30554   -1.722480
30555   -2.065102
30556   -1.556335
Name: L3_NO2_absorbing_aerosol_index, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.006507
1        0.018360
2        0.015904
3        0.055765
4        0.028530
           ...
30552    0.001107
30553    0.004726
30554    0.026249
30555    0.144318
30556    0.030848
Name: L3_NO2_cloud_fraction, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        840209.874619
1        840772.941995
2        841410.713456
3        841103.242368
4        840763.055499
             ...
30552    833637.575687
30553    833603.015554
30554    833286.230217
30555    833480.933556
30556    833419.300000
Name: L3_NO2_sensor_altitude, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0         76.537512
1        -14.708036
2       -105.201338
3       -104.334056
4         58.850179
            ...
30552    -16.856890
30553    -52.308049
30554   -103.669725
30555     71.096634
30556           NaN
Name: L3_NO2_sensor_azimuth_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        38.634284
1        59.624912
2        49.839714
3        29.180977
4         0.797294
           ...
30552    54.302954
30553    43.179969
30554     8.955216
30555    17.972398
30556          NaN
Name: L3_NO2_sensor_zenith_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        -61.736719
1        -67.693509
2        -78.342701
3        -73.896572
4        -68.612480
            ...
30552     12.312248
30553    -59.100874
30554   -162.856069
30555   -168.905530
30556           NaN
Name: L3_NO2_solar_azimuth_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        22.358167
1        28.614804
2        34.296977
3        30.545393
4        26.899694
           ...
30552    49.871571
30553    49.360606
30554    48.459205
30555    47.292725
30556          NaN
Name: L3_NO2_solar_zenith_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.000057
1        0.000055
2        0.000059
3        0.000060
4        0.000062
           ...
30552    0.000044
30553    0.000038
30554    0.000043
30555    0.000037
30556         NaN
Name: L3_NO2_stratospheric_NO2_column_number_density, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0         6156.074219
1         6156.074219
2         7311.869141
3        11205.388333
4        11205.372845
             ...
30552    22073.788216
30553    16689.048841
30554    19245.841946
30555    16689.689377
30556             NaN
Name: L3_NO2_tropopause_pressure, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.000017
1        0.000021
2        0.000007
3        0.000023
4        0.000009
           ...
30552    0.000019
30553    0.000033
30554    0.000025
30555    0.000038
30556         NaN
Name: L3_NO2_tropospheric_NO2_column_number_density, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.119095
1        0.115179
2        0.115876
3        0.141557
4        0.126369
           ...
30552    0.174995
30553    0.157659
30554    0.168295
30555    0.160637
30556         NaN
Name: L3_O3_O3_column_number_density, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        234.151102
1        233.313706
2        232.233484
3        230.936229
4        232.499132
            ...
30552    227.627879
30553    227.196630
30554    227.328975
30555    226.085016
30556           NaN
Name: L3_O3_O3_effective_temperature, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.000000
1        0.059433
2        0.082063
3        0.121261
4        0.037919
           ...
30552    0.001310
30553    0.007644
30554    0.025447
30555    0.173391
30556         NaN
Name: L3_O3_cloud_fraction, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0         76.536426
1        -14.708036
2       -105.201338
3       -104.334066
4         58.850179
            ...
30552    -16.856890
30553    -85.223618
30554   -103.669725
30555     71.095058
30556           NaN
Name: L3_O3_sensor_azimuth_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        38.593017
1        59.624912
2        49.839714
3        29.181258
4         0.797294
           ...
30552    54.302954
30553    36.170757
30554     8.955216
30555    17.980323
30556          NaN
Name: L3_O3_sensor_zenith_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        -61.752587
1        -67.693509
2        -78.342701
3        -73.896588
4        -68.612480
            ...
30552     12.312248
30553   -129.236726
30554   -162.856069
30555   -168.907270
30556           NaN
Name: L3_O3_solar_azimuth_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        22.363665
1        28.614804
2        34.296977
3        30.545446
4        26.899694
           ...
30552    49.871571
30553    49.779531
30554    48.459205
30555    47.292222
30556          NaN
Name: L3_O3_solar_zenith_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.021080
1        0.022017
2        0.020677
3        0.021207
4        0.037766
           ...
30552    0.039941
30553    0.037872
30554    0.038539
30555    0.038757
30556         NaN
Name: L3_CO_CO_column_number_density, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0         883.332451
1        1148.985447
2        1109.347101
3        1061.570832
4        1044.247425
            ...
30552     148.082862
30553     308.441747
30554     673.059505
30555     957.667555
30556            NaN
Name: L3_CO_H2O_column_number_density, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0         267.017184
1          61.216687
2         134.700335
3         474.821444
4         926.926310
            ...
30552     192.388239
30553      61.379434
30554    1572.596434
30555     846.961465
30556            NaN
Name: L3_CO_cloud_height, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        840138.461052
1        841116.763051
2        841319.860448
3        841036.192900
4        840710.342206
             ...
30552    833666.850330
30553    833169.251333
30554    833315.148608
30555    833509.685202
30556              NaN
Name: L3_CO_sensor_altitude, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0         74.543393
1        -57.015200
2       -103.494458
3       -101.955931
4         15.499573
            ...
30552    -19.340150
30553    -96.087323
30554    -96.527250
30555     67.455638
30556           NaN
Name: L3_CO_sensor_azimuth_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        38.622451
1        61.402626
2        49.924556
3        29.214970
4         1.389085
           ...
30552    54.377045
30553    33.535001
30554     8.973841
30555    18.040775
30556          NaN
Name: L3_CO_sensor_zenith_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        -61.789016
1        -74.457583
2        -78.355069
3        -73.914571
4        -68.622851
            ...
30552      6.766655
30553   -156.993340
30554   -162.861860
30555   -168.894766
30556           NaN
Name: L3_CO_solar_azimuth_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        22.379054
1        33.089495
2        34.308941
3        30.544513
4        26.906207
           ...
30552    49.928446
30553    49.949240
30554    48.464441
30555    47.293367
30556          NaN
Name: L3_CO_solar_zenith_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0       -0.000010
1        0.000114
2        0.000027
3        0.000023
4        0.000037
           ...
30552   -0.000003
30553   -0.000034
30554    0.000068
30555   -0.000017
30556         NaN
Name: L3_HCHO_HCHO_slant_column_number_density, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        0.000000
1        0.059433
2        0.082063
3        0.121261
4        0.037919
           ...
30552    0.001310
30553    0.007644
30554    0.025447
30555    0.103292
30556         NaN
Name: L3_HCHO_cloud_fraction, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0         76.536426
1        -14.708036
2       -105.201338
3       -104.334066
4         58.850179
            ...
30552    -16.856890
30553    -85.223618
30554   -103.669725
30555     71.099259
30556           NaN
Name: L3_HCHO_sensor_azimuth_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)
C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0        38.593017
1        59.624912
2        49.839714
3        29.181258
4         0.797294
           ...
30552    54.302954
30553    36.170757
30554     8.955216
30555    17.965713
30556          NaN
Name: L3_HCHO_sensor_zenith_angle, Length: 30557, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[column].fillna(impute_value, inplace=True)

#### Data imputation by regression prediction

In [446]:
import pandas as pd
from sklearn.linear_model import LinearRegression

def regression_impute(df):
    """
    Performs imputation for missing values using regression.

    Args:
        df (pandas DataFrame): The DataFrame to impute.

    Returns:
        pandas DataFrame: The DataFrame with imputed values.
    """
    # Create a copy of the DataFrame for imputation
    imputed_df = df.copy()

    # Iterate over each column
    for column in imputed_df.columns:
        # Check if the column has missing values
        if imputed_df[column].isnull().any():
            # Split the data into features (X) and target (y)
            object_columns = df.select_dtypes(include='O').columns
            X = imputed_df.dropna().drop(column, axis=1).drop(object_columns, axis=1)
            y = imputed_df.dropna()[column]
            print(X.shape, y.shape)
            # Fit a linear regression model
            model = LinearRegression()
            model.fit(X, y)
            if(imputed_df[imputed_df[column].isnull()].drop(column, axis=1).drop(object_columns, axis=1).dropna().shape[0]!=0):
                # Predict missing values
                X_missing = imputed_df[imputed_df[column].isnull()].drop(column, axis=1).drop(object_columns, axis=1).dropna()
                print(X_missing.shape)
                y_missing = model.predict(X_missing)
                # Replace missing values with predictions
                try:
                    imputed_df.loc[imputed_df[column].isnull(), column] = y_missing
                except:
                    print(y_missing) # some of the X_missing.shape is mismatching since more than one column is nan

    return imputed_df

In [447]:
X_regression_train = regression_impute(train)
Y_regression_train = Y_train.copy()
X_regression_train.shape
check_isna(X_regression_train)

(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(174, 78)
[ 1.71262636e-04  5.80223552e-05  2.16935229e-04  2.37973711e-05
  7.19249744e-05  4.45339553e-05  4.45791457e-05  6.12871093e-05
  2.99844719e-05  1.98020415e-05  4.84109910e-06  1.59058910e-05
  4.05847864e-06  5.43762358e-05  9.36426518e-05  1.55009797e-04
  1.25374371e-04  9.88912080e-05  1.33894401e-04  1.17665510e-04
  7.60084961e-05  1.85226894e-04  1.53127433e-04  1.14545142e-04
 -6.07890459e-06  2.20732691e-05  4.40711185e-05  6.51618322e-05
  6.36291714e-05  1.09731483e-05  4.84371101e-05  3.89883052e-05
  4.20104736e-05  1.32267740e-05  3.00017691e-05  1.38051027e-04
  3.93347310e-05  3.74724768e-05  5.58666746e-05  2.07482963e-05
  2.71878800e-05  9.59723127e-05  4.42638993e-06  3.36595026e-05
  1.06554477e-05 -2.62200425e-05 -8.58248581e-06 -1.03214699e-05
  4.84440114e-05  5.17578437e-05  7.89871061e-05  6.62226931e-05
  3.06994667e-05  1.86975401e-05  1.26529257e-05  4.24669417e-05
  4.40045552e-05  1.13640864e-05  2.93597846e-06  8.73721211e-05
  1.17838952e-05  7.49028402e-05  9.79855563e-05 -9.99624935e-06
  2.01598340e-05  3.46483456e-05  7.67786059e-05  1.62633818e-04
  5.10280626e-05  6.72231478e-05  1.04125355e-04  9.86926292e-05
  4.69108957e-05  3.02618189e-05  6.57586522e-05  3.69728394e-05
  1.09322563e-05  2.60522769e-05  4.23895792e-05  1.00341290e-04
  1.45251699e-05  1.26741569e-05  3.28159550e-05  1.85994158e-05
  4.31699902e-06  5.53450008e-05  6.42640567e-05  8.76566952e-05
  8.45634533e-05  1.46218101e-04  3.22500371e-05  1.20968269e-07
  2.08237228e-05 -6.40981727e-06  1.46887497e-05  5.31972202e-05
  6.07059992e-05  1.47738615e-05  4.86471164e-04  9.05756042e-04
  7.57980042e-04  6.02666580e-04  5.48403008e-04  1.29549300e-04
  2.71705014e-04  4.69419608e-04  7.47299373e-04  7.38980887e-04
  2.12644295e-04  4.64186596e-04  1.83157569e-04  3.26561116e-04
  2.28600299e-04  3.06810374e-05  1.01910793e-05  4.78661824e-05
  1.45453563e-05  2.63020515e-05  3.22431420e-05  1.32887618e-05
  5.70534025e-05  2.20814575e-05  2.44670777e-05  5.98828063e-05
  1.90698726e-04  2.09305803e-04  2.16085155e-04  4.89566532e-05
 -8.75422649e-07  1.25377610e-04  3.07373882e-05  7.15975126e-04
  9.58698146e-05  7.65428112e-05  7.97402003e-05  2.24178918e-04
  1.33484070e-04  1.38643507e-04  9.11799866e-05  3.17272110e-04
  9.89132929e-05  3.69746211e-05  3.26245599e-05  5.96144534e-05
  1.19091252e-05  1.03993424e-05  5.53757064e-05 -1.67201073e-07
  2.37879110e-05  1.09458413e-05 -2.22524912e-05  3.25721645e-05
  2.36940065e-04  1.44033979e-04  1.07929616e-05  1.89055836e-05
  3.30482103e-05  1.43386774e-05  3.01252980e-05  6.52299957e-05
  7.22360274e-05  6.26631477e-05  7.12022574e-05  9.00014480e-05
  1.14011911e-06  3.25213216e-05  6.84947232e-05  1.51685253e-04
  4.68103567e-05  2.27398962e-04  9.64043192e-05  1.03330822e-04
  3.06398151e-04  2.88402838e-05]
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(6, 78)
[-2.17627274 -1.202009   -1.72580084 -2.26314903 -1.35907116 -2.25792148]
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)
(3915, 78) (3915,)

26642

#### Data imputation by missing indication with mean imputation

In [448]:
def missing_indicator(df):
    """
    Creates a missing indicator variable for missing values in each column of the DataFrame.

    Args:
        df (pandas DataFrame): The DataFrame to create the missing indicator for.

    Returns:
        pandas DataFrame: The DataFrame with missing indicator variables.
    """
    missing_indicator_df = df.copy()

    for column in missing_indicator_df.columns:
        if df[column].isnull().any():
            missing_values = missing_indicator_df[column].isnull().astype(int)
            missing_indicator_df[column + '_missing'] = missing_values

    return missing_indicator_df

In [449]:
X_missing_train = missing_indicator(train)
Y_missing_train = Y_train.copy()
# check_isna(X_missing_train)
X_missing_train.shape
statistical_imputation(X_missing_train, lambda x: x.mean())
# check_isna(X_missing_train)

C:\Users\miruh\AppData\Local\Temp\ipykernel_31700\953127492.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(impute_value, inplace=True)

,Place_ID X Date,Date,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,...,L3_SO2_sensor_zenith_angle_missing,L3_SO2_solar_azimuth_angle_missing,L3_SO2_solar_zenith_angle_missing,L3_CH4_CH4_column_volume_mixing_ratio_dry_air_missing,L3_CH4_aerosol_height_missing,L3_CH4_aerosol_optical_depth_missing,L3_CH4_sensor_azimuth_angle_missing,L3_CH4_sensor_zenith_angle_missing,L3_CH4_solar_azimuth_angle_missing,L3_CH4_solar_zenith_angle_missing
0,010Q650 X 2020-01-02,2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,...,0,0,0,0,0,0,0,0,0,0
1,010Q650 X 2020-01-03,2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,...,0,0,0,0,0,0,0,0,0,0
2,010Q650 X 2020-01-04,2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,...,0,0,0,1,1,1,1,1,1,1
3,010Q650 X 2020-01-05,2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,...,0,0,0,1,1,1,1,1,1,1
4,010Q650 X 2020-01-06,2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,...,0,0,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30552,YWSFY6Q X 2020-03-15,2020-03-15,YWSFY6Q,22.0,14.0,83.0,3848.86,72,6.700000,68.300003,...,0,0,0,1,1,1,1,1,1,1
30553,YWSFY6Q X 2020-03-16,2020-03-16,YWSFY6Q,53.0,30.0,146.0,9823.87,72,6.300000,77.700005,...,0,0,0,0,0,0,0,0,0,0
30554,YWSFY6Q X 2020-03-17,2020-03-17,YWSFY6Q,85.0,52.0,153.0,8900.85,72,7.100000,68.500000,...,0,0,0,1,1,1,1,1,1,1
30555,YWSFY6Q X 2020-03-18,2020-03-18,YWSFY6Q,103.0,33.0,149.0,13963.90,72,19.100000,66.300003,...,0,0,0,1,1,1,1,1,1,1
30556,YWSFY6Q X 2020-03-19,2020-03-19,YWSFY6Q,89.0,46.0,132.0,9393.64,72,11.600000,68.400002,...,1,1,1,1,1,1,1,1,1,1

```
Here are the 3 different imputation methods that can be done. 
Please use these for your references.
X_mean_train 
Y_mean_train 
X_mode_train 
Y_mode_train 
X_median_train 
Y_median_train 
X_regression_train (not finished, please help me modify it if you are free)
Y_regression_train 
X_missing_train
Y_missing_train
```